.button-dd {
  float: right;
}
.custom-file-label {
  display: block;
  position: relative;
  border-radius: 5px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #435ebe;
  color: white;
  border: 1px solid #435ebe;
  width: 60px;
  /* float: right; */
  text-align: right !important;
}
.custom-file-input {
  opacity: 0;
  position: absolute;
}
.ml-5 {
  margin-left: 10px;
}
.select-format {
  padding: 6px;
  background: #435ebe;
  color: white;
  border: 1px solid #435ebe;
  border-radius: 5px;
}
