.tableInTable td {
  border: 0px;
  white-space: nowrap;
}

.tableInTable tr:nth-child(odd) {
  background-color: #ffff;
}

.tableInTable tr:nth-child(even) {
  background-color: #ffff;
}

.tableInTable2 td {
  border: 0px;
  white-space: nowrap;
  border-left: 1px solid gray;
}
.tableInTable2 td:first-child {
  border: 0px;
  border-left: none;
}
.font-edit td{
  font-family: sans-serif !important;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */