.font-size-full,
input,
button,
.text-center p {
  font-size: 1rem !important;
}

.col-logo img {
  flex: 1;
  height: 1.2rem !important;
}

.col-logo {
  /* text-align: center; */
  width: 38%;
  margin: 0 auto;
}

.flex-logo .text-logo {
  font-size: 1.1rem !important;
  margin-left: 10px;
}

@media only screen and (max-width: 414px) {
  .flex-logo .text-logo {
    font-size: 0.9rem !important;
    /* margin-left: 10px; */
  }
  .col-logo {
    /* text-align: center; */
    width: 50% !important;
    /* margin: 0 auto; */
  }
}
